* {
    font-family: 'Roboto', sans-serif;
}

#nav-home {
    margin-top: 2rem;
    font-size: 1.25rem;
}

.nav-item:hover {
    color: #dc3545;
}

.nav{
    margin: 50px;
}

body{
    font-family: Crimson,serif!important;
    font-size: 1.076923076923077em!important;
    color: #dc3545;
}

#banner{
    background-color: #e21833!important;
    color: white;
    padding: 10px;
}

button{
    border: none;
}

a {
    color: #dc3545;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #dc3545;
}

.btn-primary {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
