#contact-us {
    margin-bottom: 2rem;
    font-weight: 600;
}

input {
    margin-bottom: 2rem;
}

.btn {
    margin-top: 1rem;
    font-size: 1.15rem;
}

.btn:hover {
    background-color: #E84854;
    border-color: #E84854;
}
