img{
    margin: auto;
}

#welcome-image {
    display: block;
    max-width: 100%;
    height: 17.5rem;
    width: auto;
    margin-bottom: 5rem;
}

.flag {
    width: 10rem;
    height: 6rem;
    transition: .15s all ease-in-out;
    margin: 1rem;
}

.flag:hover {
    transform: scale(1.1);
    background-color: #fff !important;
}

#flags {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

#language {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#caption {
    color: #000;
    font-weight: bold;
}

.langBorder {
    border: 2px solid #dc3545
}